#itensMenuCotainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* sempre 3 colunas */
  gap: 1.5rem; /* espaçamento entre os cards */
}


.formulario-lista-container {
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  min-height: 30vh;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.btn-salvar {
    background-color: var(--cor-4);
    color: var(--cor-1);
    cursor: pointer;
    margin-top: 2%;
    font-weight: 600;
    padding: 0.7rem 3rem;
    border: none;
    border-radius: 15px 0%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
 
}

.btn-salvar:active {
  transform: scale(0.98);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

button {
  border-radius: 15px 0%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-padrao {
  background-color: var(--cor-4);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-padrao i {
  font-size: 1.1rem;
}
.itemMenuCard {
  position: relative; /* necessário para o position absolute da .acoes-card funcionar */
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 1.2rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.itemMenuCard:hover {
  transform: scale(1.03);
}

.itemMenuCard .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemMenuCard .info strong {
  font-size: 1.2rem;
  display: block; /* faz a margin-bottom funcionar */
  margin-bottom: 3%;
}

.itemMenuCard .info p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: #555;
}

.itemMenuCard .info span {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1rem;
  color: #909090;
  
}

.acoes-card {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  justify-content: flex-start; /* alinha para o topo */
  position: absolute; /* posiciona acima do conteúdo */
  top: 3rem; /* distância do topo */
  right: 0.8rem; /* distância da lateral direita */
}

.acoes-card span {
  cursor: pointer;
  font-size: 1.2rem;
  color: #000;
}

.acoes-card span.editar:hover i {
  color: #0080ff; /* verde para editar */
}

.acoes-card span.excluir:hover i {
  color: var(--cor-7); /* vermelho para excluir */
}



@media (max-width: 768px) {
  #itensMenuCotainer {
    justify-content: center;
  }

  .itemMenuCard {
    width: 90%;
    flex-direction: column;
    height: auto;
  }
}
