/*  o margin left  está sendo adicionado no coteudo-geral no style.css*/
.coteudo-geral-reverso{
  transition: all 0.5s ease-in-out;
  margin-left: -195px;
}

@media screen and (max-width: 850px) {
  #landingPage {
    margin-left: 0 !important;
    margin-top: -11vh;
  }
}


nav{
  background-color: var(--cor-4);
}

nav ul{
  display: flex;
  justify-content: space-between;
}
.logo img{
  width: 20%;
}

.itens-menu{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.itens-menu li{
  cursor: pointer;
  list-style: none;
}