<nav class="coteudo-geral-reverso">
    <nav>
        <ul>
            <div class="logo">
                <img src="logo.png" alt="">
            </div>

            <div class="itens-menu">
                <li [routerLink]="'/adm/regioes-entrega'">Home</li>
                <li [routerLink]="'/adm/regioes-entrega'">Localização</li>
                <li [routerLink]="'/adm/regioes-entrega'">Contataos</li>
                <li [routerLink]="'/adm/regioes-entrega'">Cardápio</li>
            </div>
        </ul>
    </nav>
</nav>