/*  o margin left  está sendo adicionado no coteudo-geral no style.css*/
.coteudo-geral-reverso{
  transition: all 0.5s ease-in-out;
  margin-left: -195px;
}

@media screen and (max-width: 850px) {
  #landingPage {
    margin-left: 0 !important;
    margin-top: -11vh;
  }
}