<app-menu></app-menu>

<section class="coteudo-geral-reverso">

    <section id="capa">
        <div class="blocoA-capa">
            <h1 class="titulo-capa">O melhor pastel de Guadalajara</h1>
            <h5 class="subTitulo-capa">Aqui não é só pastel, temos uma variedade incrível de salgados e pratos
                deliciosos esperando por você!</h5>
            <button class="btn-pedir-delivery">Pedir no Delivery</button>
        </div>
        <div class="blocoB-capa">
            <div class="contain-status">Aberto</div>
        </div>
    </section>
    <img class="transicaoImg" src="transição.png" alt="">
    <section id="localizacao">
        <h1>Localização</h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.514599034565!2d-35.116366799999994!3d-7.945653399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab0f28a39960d3%3A0x6f4b45a39c6b200b!2sPastel%20Mania!5e0!3m2!1spt-BR!2sbr!4v1736796601210!5m2!1spt-BR!2sbr"
            class="localizacao-maps" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</section>