/*SEÇÃO PRINCIPAL*/
#funcionamento {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/*BOTOES AÇÕES*/
.acoes-topo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 2% 2% 2rem 2%;
  flex-wrap: wrap;
}

/* Botão Aplicar Horários */
.btn-abrir {
  background-color: var(--cor-4);
  color: var(--cor-1);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}


/* Botão Salvar */
#salvar-horarios #btn-salvar {
  background-color: var(--cor-4);
  color: var(--cor-1);
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}


/*CARDS DE HORÁRIOS*/
#horarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 5rem;
  margin: 4%;
  position: relative;
  margin-top: 4%;
}

.horario {
  flex: 0 1 30%;
  max-width: 380px;
  border-radius: 10px;
  background-color: var(--cor-1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.04),
    0px 4px 6px rgba(0, 0, 0, 0.05),
    0px 1px 3px rgba(0, 0, 0, 0.1);
}

.horario:hover {
  transform: scale(1.03);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
    0px 6px 10px rgba(0, 0, 0, 0.08),
    0px 3px 6px rgba(0, 0, 0, 0.12);
}

/*CABEÇALHO DO CARD*/
.dia {
  background-color: var(--cor-4);
  color: var(--cor-1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 6% 10%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

/* Ícone do cabeçalho */
.dia i {
  font-size: 1.2rem;
  color: var(--cor-1);
}

/*HORÁRIOS DO CARD*/
.horas {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.input-com-icone {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex: 1;
}

.horas label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  display: block;
}

/* Linha ícone + input */
.linha {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.linha i {
  font-size: 1rem;
  color: #333;
}
/* Ícone do lado de fora do input */

.linha input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  font-size: 0.95rem;
  outline: none;
  background: #fff;
}


.linha input:focus {
  border: none;
  outline: none;
}

/*RESPONSIVIDADE*/
@media screen and (max-width: 1024px) {
  #horarios {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  #horarios {
    flex-direction: column;
    align-items: center;
  }
  .acoes-topo {
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .horas {
    gap: 0.5rem;
  }
  .input-com-icone {
    width: 100%;
  }
  .linha input {
    width: 100%;
  }
}
