<app-sidebar></app-sidebar>
<app-banner></app-banner>
<app-alert></app-alert>

<!--  Área de ações -->
<div class="acoes-topo">
  <div class="abrir-modal">
    <button class="btn-abrir" (click)="abrirAplicarHorarios()">
      <i class="bi bi-clock-history"></i> Aplicar horários em massa
    </button>
  </div>
  <div id="salvar-horarios">
    <button id="btn-salvar" (click)="salvarHorarios()">
      Salvar <i class="bi bi-patch-check-fill"></i>
    </button>
  </div>
</div>

<!--  Modal -->
<app-aplicar-horarios
  [diasSemana]="diasSemana"
  [visivel]="modalAberto"
  (fechar)="fecharAplicarHorarios()">
</app-aplicar-horarios>

<!--  Cards dos dias -->
<div id="horarios">
  <div class="horario" *ngFor="let dia of diasSemana">
    <div class="dia">
      <i class="bi bi-calendar-event"></i>
      <label class="nome-dia">{{ dia.nome }}</label>
    </div>
    <div class="horas">
      <div>
        <label>Início:</label>
        <input type="time" [(ngModel)]="dia.inicio">
      </div>
      <div>
        <label>Fim:</label>
        <input type="time" [(ngModel)]="dia.fim">
      </div>
    </div>
  </div>
</div>
